<header class="header">
  <div class="header__mask" [class.lock]="menuOpen" (click)="closeMenu()">
    <div class="header__container">
      <a routerLink="/" class="header__logo logo" (click)="closeMenu()">
        <div class="logo__title">Pawfect Companion</div>
        <div class="logo__subtitle">Dog Care and Breed Information Website</div>
      </a>

      <div
        class="header__burger"
        [class.active]="menuOpen"
        (click)="toggleMenu(); $event.stopPropagation()"
      >
        <span></span>
      </div>

      <nav
        class="header__nav"
        [class.active]="menuOpen"
        (click)="$event.stopPropagation()"
      >
        <a
          routerLink="/"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="header__link"
          (click)="closeMenu()"
        >
          Home
        </a>

        <a
          routerLink="/pets"
          routerLinkActive="link-active"
          class="header__link"
          (click)="closeMenu()"
        >
          Dog Breeds
        </a>

        <a
          routerLink="/care"
          routerLinkActive="link-active"
          class="header__link"
          (click)="closeMenu()"
        >
          Care Tips
        </a>

        <a
          routerLink="/dog-names"
          routerLinkActive="link-active"
          class="header__link"
          (click)="closeMenu()"
        >
          Dog Names
        </a>

        <a
          routerLink="/about"
          routerLinkActive="link-active"
          class="header__link"
          (click)="closeMenu()"
        >
          About Us
        </a>

        <div class="header__auth">
  <button
    *ngIf="!isLoggedIn"
    type="button"
    class="header__auth-btn header__auth-btn--login"
    (click)="goToLogin()"
  >
    Login
  </button>

  <button
    *ngIf="isLoggedIn"
    type="button"
    class="header__auth-btn header__auth-btn--logout"
    (click)="signOut()"
  >
    Sign Out
  </button>
</div>
      </nav>
    </div>
  </div>
</header>
